@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/*color candidates:
#FFFAF0 - Floral White
#FFF0F5 - Lavender Blush
#F0FFF0 - Honeydew
#F0FFFF - Azure*/

/*body {
  background: -webkit-linear-gradient(left, rgba(245, 94, 97, 0), rgba(245, 94, 97, 1));
} */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/clouds2.jpg'); !important;
  width: auto;
  height: auto;
}

.thankyou-box {
  background-color: FloralWhite;
  border: 2px;
  margin: 0% 25% 25% 25%;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;
}

.thankyou {
  font-family: 'Brush Script MT', cursive;
  font-size: 48px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: Floralwhite;
}

.thanks-name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  color: #343434;
}

.message {
  /*font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;*/
  display: block;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  color: #343434;
}

.message_content {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #343434;
}

.thankyou_content {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #343434;
}

.inner-email-left:hover .message_content{
  display: block
}

.inner-email-right:hover .message_content{
  display: block;
}
.sincerely {
  font-family: 'Brush Script MT', cursive;
  font-size: 24px;
}

#welcome {
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'HelveticaNeue-Thin';
  color: #343434;
  /*padding-top: 30px;*/
  font-size: 90px;
  /*background-color: green;*/
}

.slogan {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 200;
  font-style: italic;
  color: #565555;
  /*margin: 5% 20% 5% 20%;*/
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.email-box {
  position: absolute;
  background-color: Honeydew;
  text-align: center;
  border: 2px;
  box-shadow: 2px 2px 2px #000;
  font-weight: bold;
  color: #343434;
  margin: 5% 33% 25% 33%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

#baby-img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  max-height: 50%;
}


.cover_message {
  font-family: 'HelveticaNeue-Thin';
  color: #343434;
  font-size: 35px;
  float: left;
  text-align: center;
  background-color: Honeydew;
  margin-left: 5%;
  margin-right: 70%;
  box-shadow: 2px 2px 2px #000;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

/* For FeatherPad: Sleep Without Barriers title */
#title {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

#title-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#logo {
  max-width:90%;
  max-height:90%;
}

.featherpad-content {
  margin: 5% 30% 10% 30%;
}
/* For stats.html */
