body {
  background: -webkit-linear-gradient(left, rgba(245, 94, 97, 0), rgba(245, 94, 97, 1));
}

.stats {
  background-color: FloralWhite;
  border: 2px solid #343434;;
  padding-left:  30px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 2px 2px 2px #000;
  color: #343434;
}

.title {
  text-align: center;
  font-family:  arial narrow;
  color: #343434;
}
