{% extends "profile_layout.html" %}
{% block body %}
<section class="faq-section">
    <input type="checkbox" id="q1">
    <label for="q1">What is cosleeping?</label>
    <p>Cosleeping is the practice of a parent sleeping in the same bed as their infant child</p>
    <p>Here are some advantages to cosleeping:</p>

    <input type="checkbox" id="q2">
    <label for="q2">Question?</label>
    <p>... The intro paragraph that will be clipped ...</p>
    <p>... Extra and optional paragraph ...</p>
</section>

{% endblock %}
