{% extends "profile_layout.html" %}
{% block body %}
<section class="faq-section">
    <input type="checkbox" id="q1">
    <label for="q1">What is cosleeping?</label>
    <p>Cosleeping is the practice of a parent sleeping in the same bed as their infant child</p>
    <p>Here are some advantages to cosleeping:
    <ul>
      <li>Parents often get more sleep</li>
      <li>Babies often get more sleep</li>
      <li>During the night, it is easier to nurse your baby</li>
      <li>Nighttime separation anxiety isn't a thing anymore</li>
      <li>You get to see your baby first thing when you wake up!</li>
    </ul>
  </p>
</section>
{% endblock %}
