<!-- app/templates/home/index.html -->
{% extends "layout.html" %}
{% block body %}
  <div class="slogan">
    <button class="ui button" id="login-button">
    Login Here!
    </button>
    <button class="ui button" id="what-button">
      What is FeatherPad?
    </button>
    <button class="ui button" id="why-button">
      Why FeatherPad?
    </button>

    <div class="ui button" id="subscribe-button" tabindex="0">
      Subscribe to our mailing list!
    </div>
  </div>

<!-- Modal for login form -->
<div class='ui modal' id="login-modal">
  <div class="ui raised very padded text container segment">
    <h4 class="ui horizontal divider header">
      <i class="moon icon"></i>
      Login Here!
    </h4>
    <form class="ui form" action="/login" method="POST">
      <div class="field">
        <p><input type="text" name="username" id = "username" class = "form-control" placeholder="Username" required autofocus></p>
        <p><input type="password" name="password" id = "password" class = "form-control" placeholder="Password" required></p>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    <a href = "{{ url_for('create_account')}}"> Create Account Here! </a>
  </div>
</div>

</div>
    <div class='featherpad-content' id="what-content">
      <div class="ui raised very padded text container segment">
        <h4 class="ui horizontal divider header">
          <i class="moon icon"></i>
          What is FeatherPad?
        </h4>
        <p class = 'message_content'>FeatherPad is an innovative sleeping pad that will allow you to sleep with your baby with peace of mind.
        By implementing smart technology to track your baby and its surroundings, we make
        sure that you and your baby can sleep together in comfort and safety throughout the night.</p>
      </div>
    </div>

    <div class='featherpad-content' id="subscribe-content">
      <div class="ui raised very padded text container segment">
        <h4 class="ui horizontal divider header">
          <i class="moon icon"></i>
          Subscribe to our mailing list!
        </h4>
        <form class="ui form" action="/submit_subscribe" method="POST">
          <div class="field">
            <label>First Name</label>
            <input type="text" name="name" id="name" placeholder="First Name">
          </div>
          <div class="field">
            <label>Email</label>
            <input type="email" name="email_address" id="email" placeholder="Email Address">
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class='featherpad-content' id="why-content">
      <div class="ui raised very padded text container segment">
        <h4 class="ui horizontal divider header">
          <i class="moon icon"></i>
          Why FeatherPad?
        </h4>
        <p class = 'message_content'>Co-sleeping is defined as the practice of a parent sleeping in the same bed as their infant child. This
          can prove beneficial in the baby's upbringing and offer a close connection between the baby and parent.
          Yet many co-sleepers today tend to be obtrusive and put barriers between the baby and the parent.
          FeatherPad aims to deliver a non-intrusive, yet safe product that will fulfill your desire to have a
          nurturing relationship with your baby even while you sleep!</p>
      </div>
    </div>



{% endblock %}
