<!-- app/templates/home/index.html -->
{% extends "layout.html" %}
{% block body %}
<div class="heading2">
  <p class="slogan">Sleep Without Barriers</p>
</div>
<form class="email-form" action="/submit" method="POST">
  <div class="email-box">
    <p class = 'message'>If you are interested in the development of this product, please subscribe below!</p>
    <p><input type="name" name="name" id="name" placeholder="First Name" required autofocus></p>
    <p><input type="email" name="email_address" id="email" placeholder="Email Address"></p>
    <button class="btn btn-primary btn-block" type="submit">Subscribe!</button>
  </div>
</form>
{% endblock %}
