<!-- app/templates/layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | FeatherPad</title>
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">

</head>
<body>
  <h1 class="greeting">FeatherPad</h1
  ><div class="content"><div class="functions">
    <button class="box-profile">My Profile</button
    ><button class="box">About FeatherPad</button
    ><button class="box">FAQ</button
    ><button class="box">Contact Us</button>
  </div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP-T8dFeVXsjgqGmfnvpGULnMlGmkf03KQ0dn74JZSG2jdlvUA" class="cloud">
  <div class="temp">76°F</div>
  <div class="Force-Baby">
    <h2>How's your baby doin'?</h2>
  </div>
  </div>
</body>
