<!-- app/templates/layout.html -->
{% extends "layout.html" %}
{% block body %}



<div class='featherpad-content'>
  <div class="ui raised very padded text container segment">
      <div class="message_content">
        <div class="message"><center> Here are some really neat stats about our landing page!</center></div>
        <ul>
        <li>Our last visit occured at {{last_visit}}!</li>
        <li>Our most recent signup is {{last_signup}}!</li>
        <li>So far, we have {{total_visits}} visits! Wow, way to go team!</li>
        <li>In total, we have {{total_signups}} signups. Cool stuff! </li>
        </ul>
      </div>
  </div>
</div>




{% endblock %}
